@model IEnumerable<ServiceSparePartAstra.Models.Customers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th><h3>Nama</h3>
                @*@Html.DisplayNameFor(model => model.CustomerName)*@
            </th>
            <th> <h3>Email</h3>
                @*@Html.DisplayNameFor(model => model.CustomerEmail)*@
            </th>
            <th><h3>Phone Number</h3>
                @*@Html.DisplayNameFor(model => model.CustomerPhoneNumber)*@
            </th>
            <th><h3>Address</h3>
                @*@Html.DisplayNameFor(model => model.CustomerAddress)*@
            </th>
            <th><h3>Sex</h3>
                @*@Html.DisplayNameFor(model => model.Sex)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
